<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StopWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21E799DF1E6F8459007E2B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21E799F31E6F845A007E2B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21E799FE1E6F845A007E2B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
